{% if p and not (request.values and ('context' in request.values)) %}
	{%- set collapsed_storage = 'post_' ~ p.id -%}
{% elif request.path == '/notifications' or request.path.startswith('/@') %}
	{%- set collapsed_storage = request.path -%}
{% endif %}
<script>
	{% if p and (not v or v.highlightcomments) %}
		comments = JSON.parse(localStorage.getItem("comment-counts")) || {}
		lastCount = comments['{{p.id}}']
		if (lastCount)
		{
			{% for c in p.comments %}
				{% if not (v and v.id==c.author_id) and not c.voted %}
					if ({{c.created_utc*1000}} > lastCount.t) 
					try {document.getElementById("comment-{{c.id}}-only").classList.add('unread')}
					catch(e) {}
				{% endif %}
			{% endfor %}
		}
	{% endif %}
	collapsedCommentStorageInit('{{collapsed_storage}}');
	if (document.readyState === "complete" || 
			(document.readyState !== "loading" && !document.documentElement.doScroll)) {
		collapsedCommentStorageApply();
	} else {
		document.addEventListener("DOMContentLoaded", collapsedCommentStorageApply);
	}

	function morecomments(cid) {
		btn = document.getElementById(`btn-${cid}`);
		btn.disabled = true;
		btn.innerHTML = "Requesting...";
		var form = new FormData();
		form.append("formkey", formkey());
		const xhr = new XMLHttpRequest();
		xhr.open("get", `/morecomments/${cid}`);
		xhr.setRequestHeader('xhr', 'xhr');
		xhr.onload=function(){
			if (xhr.status==200) {
				let e = document.getElementById(`morecomments-${cid}`)
				e.innerHTML = xhr.response.replace(/data-src/g, 'src').replace(/data-cfsrc/g, 'src').replace(/style="display:none;visibility:hidden;"/g, '');
				bs_trigger(e)

				{% if p %}
					comments = JSON.parse(localStorage.getItem("old-comment-counts")) || {}
					lastCount = comments['{{p.id}}']
					if (lastCount)
					{
						{% for c in p.comments %}
							{% if not (v and v.id==c.author_id) and not c.voted %}
								if ({{c.created_utc*1000}} > lastCount.t) 
								try {document.getElementById("comment-{{c.id}}-only").classList.add('unread')}
								catch(e) {}
							{% endif %}
						{% endfor %}
					}
				{% endif %}
			}
			btn.disabled = false;
		}
		xhr.send(form)
	}
</script>
