<div id="post-body" class="post-body mt-3">
	{% if p.realurl(v) %}
		{% if not p.embed_url and not p.is_image and not p.is_video %}
			<a rel="nofollow noopener noreferrer" href="{{p.realurl(v)}}" {% if not v or v.newtabexternal %}target="_blank"{% endif %}>
				<div class="d-flex d-md-none justify-content-between align-items-center border rounded p-2{% if p.realbody(v) %} mb-3{% endif %}">
					<span>{{p.domain|truncate(30, True)}}</span>
					<i class="fas fa-external-link-alt text-small"></i>
				</div>
			</a>
		{% endif %}
	{% endif %}
	{% if p.embed_url %}
		{% if p.domain == "twitter.com" %}
			{{p.embed_url | safe}}
			{% if v and v.theme.split("_")[0] in ["light", "coffee", "4chan"] %}
				<script src="{{ 'js/twitterlight.js' | asset }}"></script>
			{% else %}
				<script src="{{ 'js/twitter.js' | asset }}"></script>
			{% endif %}
		{% elif p.domain in ['youtu.be','youtube.com'] and p.embed_url and p.embed_url.startswith('<lite-youtube') %}
			{{p.embed_url | safe}}
		{% endif %}
	{% endif %}
	<div id="post-text">
		{% if p.is_public %}
			{% if p.is_image %}
				<div class="row no-gutters">
					<div class="col">
						<a {% if not v or v.newtabexternal %}target="_blank"{% endif %} rel="nofollow noopener noreferrer" href="{{p.realurl(v)}}">
							<img src="{{p.realurl(v)}}" class="img-fluid" style="max-height:500px" alt="Unable to load image">
						</a>
					</div>
				</div>
				<pre></pre>
			{% elif p.is_video %}
				<div class="row no-gutters">
					<div class="col">
						<video controls preload="none" class="vid">
							<source src="{{p.realurl(v)}}" type="video/mp4">
						</video>
					</div>
				</div>
				<pre></pre>
			{% endif %}
		{% endif %}
		{{p.realbody(v) | safe}}

		{% if p.is_banned and p.ban_reason %}
			<div class="text-removed mb-0">removed by @{{p.ban_reason}}</div>
		{% endif %}
	</div>
</div>
